.weatherOverview {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}
#temperature {
  font-size: 50px;
}
#city {
  font-size: 50px;
}
#icon {
}
input {
  font-family: "Titillium Web", sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 20px;
  border-color: #bbe4e9;
}
body {
  background: #bbe4e9;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  font-family: "Titillium Web", sans-serif;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#description:first-letter {
  text-transform: capitalize;
}
.units {
  font-family: "Titillium Web", sans-serif;
}
.high,
.low {
  font-size: 14px;
}
.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
  display: inline-block;
  height: 50px;
  width: 500px;
  background-color: #ffff;
  color: black;
  margin: auto;
  margin-bottom: 15px;
  border-style: solid;
  border-radius: 25px;
  padding-left: 20px;
  padding-top: 10px;
  font-family: "Titillium Web", sans-serif;
}
.form {
  width: fit-content;
  padding: 25px;
  margin: auto;
  font-family: "Titillium Web", sans-serif;
}
.codedBy {
  color: rgb(255, 145, 0);
  position: fixed;
  block-size: auto;
  margin-top: 15px;
  margin-left: 520px;
  font-size: 14px;
}
